.container-xxl
{
  top: 1px;
  width: 100%;
  position: relative;
  text-align: left;
  color: white;
  font-family: "Open Sans SemiBold", serif;
  font-size: 20px;
}

#ad-title
{
  top: 5%;
  font-size: 40px;
  color: black;
}

#ad-content
{
  top : 12%;
  color:black;
}

#joinus {
  top : 20%;
}
#joinus:hover {
  color: coral;
  background-color: rgb(43, 196, 189);
}

.top-left {
  position: absolute;
  left: 10%;
}