<div class="container">
  <h2>Welcome to Learning App</h2>
  <h2>A good place to boost your knowledge</h2>
</div>
<div class="container">
  <div class="navbar navbar-expand-lg">
    <div class="nav-item">
      <img src="../../../assets/improve-html-css-skills.jpg" class="img-svg" alt="Learn image">
      <h3>Learn the latest skills</h3>
      <p>like Java,Spring,Angular,Cloud-Aws,graphic design, Python, and Many more</p>
    </div>
    <div class="nav-item">
      <img src="../../../assets/teaching img1.jpeg" class="img-svg" alt="Learn image">
      <h3>Get ready for a career</h3>
      <p>With Top Mnc companies like wipro,Tcs,Infosys and many more</p>
    </div>
    <div class="nav-item">
      <img src="../../../assets/certificate-icon-png-22.jpg" class="img-svg" alt="Learn image">
      <h3>Get Certified in</h3>
      <p>Emerging technologies such as python,java and many more</p>
    </div>
  </div>
</div>
<br>

<br>